---
import headerimage from "../assets/wordart.png";
import { Image } from "astro:assets";
---

<div class="header-container flex justify-center gap-4 mt-4">
  <h1 class="text-xl">dungeon radio club © fra</h1>
</div>

<style>
  .header-container {
    position: ;
    bottom: 0;
    border-top: 2px solid black;
    height: 10px;
    font-family: "Source Code Pro", monospace;

  }

</style>
