---
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import pic1 from "../assets/pictures/EU.png";
import pic2 from "../assets/pictures/WhatsApp Image 2023-12-10 at 22.23.22.jpeg";
---

<Layout title="portfolio | dungeon">
  <Header />
    <span class="flex justify-center pt-9">
      <Card />
    </span>
</Layout>
